.user-profile-container {
    & > div {
        padding: 15px;

        & > .card {
            border: none;
            background: none;
            -webkit-box-shadow: 10px 10px 20px -8px rgba(130, 127, 130, 1);
            -moz-box-shadow: 10px 10px 20px -8px rgba(130, 127, 130, 1);
            box-shadow: 10px 10px 20px -8px rgba(130, 127, 130, 1);

            & > * {
                padding: 10px;
            }

            .user-details {
                display: flex;
                justify-content: center;
                align-items: center;
                > h5 {
                    margin: 10px;
                }
            }

            .user-profile-friends {
                display: flex;
                flex-wrap: wrap;
                padding-left: 0;

                & > .approved-friend {
                    margin: 5px;
                    border: solid #acacde;
                    border-width: medium;
                    h5 {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        width: 125px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
.alert-danger {
    margin-top: 10px;
}
.friend-container {
    border: rgba(29, 104, 167, 0.34) solid 1px;
    border-radius: 3%;
}
